venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
env/
build/
dist/
*.egg-info/
.Python
/.env
.env
.venv/
instance/
/.vscode/
/.idea/
*.sqlite3
*.db
/.pytest_cache/
uploads/
static/images/uploads/
*.log
venv/
.DS_Store
Thumbs.db